@reviewColor: #996633;
.review-page-box{
    .review-color-box{
        height:80%;
        border-bottom:1px solid @ccc;
        .am-list-view-scrollview-content{
            width:100%;
        }
        .review-color-body{
            height:100%;
            width:95%;
            margin-left:2.5%;
            overflow-y: hidden;
            .list-view-section-body{
                height: 95%;
                padding-top: 5%;
            }
            &__color{
                height:100%;
                img{
                    height:100%;
                }
            }
        }
    }
    &__review{
        display: flex;
        justify-content:center;
        align-items:Center;
        height:20%;
        position:relative;
        .review-delete-btn{
            position:absolute;
            right: 20px;
            bottom: 20px;
            color:@penColor;
        }
        &__btn{
            color: #333;

        }
        .am-button-ghost{
            color: @penColor;
            background-color: transparent;
            border-color: @penColor;
            margin-bottom:10px;
            .font-size{
                font-size: 23px;
                margin-left: 5px;
            }
        }
        .am-button-active {
            color: #fff;
            background: @penColor!important;
            border-color: @penColor!important;
        }
        &__box{
            font-size: 30px;
            color:@reviewColor;
            &__review-icon{
                float:left;
                font-size: 50px;
            }
            &__review-size{
                float:left;
                border:2px solid transparent;
                margin-left: 30px;
                &__border{
                    padding: 10px;
                    border:1px solid @reviewColor;
                }
            }
            &__review-size-active{
                border:2px solid @reviewColor;
                font-weight: bold;
            }

        }
    }
}
