.tie-container{
    height:100%;
    width:100%;
    &__select{
        height:10%;
        &__item{
            width:33.333333333333333%;
            float:left;
            text-align: center;
            border-bottom:1px solid @ccc;
            position:relative;
            font-size: 30px;
            padding:20px 0;
            background: #dddddd;
            color: #999;
            &:after{
                content: ' ';
                position:absolute;
                right:0;
                top:0;
                height:100%;
                width: 2px;
                background:@ccc;
            }
            &:nth-child(3n) {
                &:after{
                    display: none;
                }
            }
        }
        &__active{
            background: transparent;
            color:#333;
        }
    }
    .tie-box{
        width:100%;
        height:90%;
        .tie-body{
            padding:10px;
            &__row{
                border-bottom: 2px solid @ccc;
                margin-top: 10px;
                .am-list-body{
                    background: transparent;
                    border:0;
                    &::after{
                        border:0;
                    }
                }
                &__title{
                    background: @bgColor;
                    padding-left: 10px;
                    padding-top: 20px;
                    position:relative;
                    .am-list-line{
                        padding: 0;
                        .am-list-content{
                            line-height: 40px;
                            .am-list-brief{
                                font-size: 25px;
                            }
                        }
                    }
                    &__now{
                        position:absolute;
                        right: 20px;
                        bottom: 0;
                        color:@penColor;
                        font-size: 25px;
                    }

                }

                &__none{
                    background: @bgColor;
                    position:relative;
                    .am-list-line{
                        padding: 0;
                        .am-list-content{
                            line-height: 30px;
                            text-align: center;
                            color:#999;
                            font-size: 30px;
                            .am-list-brief{
                                font-size: 25px;
                            }
                        }
                    }
                }
                &__author{
                    font-size: 30px;
                    margin-top: 10px;
                }
            }
        }


    }
}