@import './page-less/page-left';
@import './page-less/index-canvas';
@import './page-less/tie-list';
@import './page-less/music-list';
@import './page-less/pen-color';
@import './page-less/review-works';
@import './page-less/hope';
@import './page-less/logo';
@import './page-less/about';
@import './page-less/offline';
@import './page-less/offline-make';

@ccc: #ccc;
@bgColor: #f7f6ea;
.palette-page-box{
    width:100%;
    height:100%;
    overflow: hidden;
    .page-content{
        position: relative;
        height:100%;
        z-index: 1;
        padding-left:120px;
    }
}
.queue-simple{
    height:100%;
    position:relative;
    background: @bgColor;
    overflow: hidden;
}